* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  line-height: 1.6;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 15px;
}


header {
  background-color: #a76026;
  padding: 20px;
  height: 40rem;
  
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(13, 100, 134);
  padding: 1rem;
  border-radius: 25px;
  box-shadow: 0.5px 0.1px 10px white;
}

.logo img{
  width: 3rem;
}

.nav-links li {
  display: inline-block;
  margin-left: 15px;
}

.nav-links a {
  text-decoration: none;
  color: white;
}

.hero {
  text-align: center;
  margin-top: 120px;
  color: white;
}

.hero h2 {
  font-size: 56px;
  margin-bottom: 20px;

}
.hero p {
  font-size: 36px;
  margin-bottom: 20px;
  
}
.cta-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
}

.about {
  background-color: #fff;
  padding: 50px 0;
}

.about h3 {
  font-size: 30px;
  margin-bottom: 20px;
}

.about p {
  margin-bottom: 15px;
}


.menu {
  background-color: #f5f5f5;
  padding: 50px 0;
}

.menu h3 {
  font-size: 30px;
  margin-bottom: 20px;
}

.menu-item {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 30px;
}

.menu-item img {
  width: 100%;
  max-width: 200px;
  margin-right: 20px;
  margin-bottom: 10px;
}

.menu-item h4 {
  font-size: 20px;
  margin-bottom: 10px;
  flex-basis: 100%;
}

.menu-item p {
  margin-bottom: 10px;
  flex-basis: 100%;
}

.menu-item .price {
  font-weight: bold;
  font-size: 18px;
}

.gallery {
  background-color: #fff;
  padding: 50px 0;
}

.gallery h3 {
  font-size: 30px;
  margin-bottom: 20px;
}

.gallery-item {
  display: inline-block;
  margin-bottom: 20px;
  width: 100%;
}

.gallery-item img {
  width: 100%;
  height: auto;
}

.contact {
  background-color: #f5f5f5;
  padding: 50px 0;
}

.contact h3 {
  font-size: 30px;
  margin-bottom: 20px;
}

.contact p {
  margin-bottom: 20px;
}

form input,
form textarea {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
}

form button {
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

footer p {
  font-size: 14px;
}

#menu-toggle{
  display: none;
}

.menu-icon {
  display: none;
  font-size: 24px;
  cursor: pointer;
}


@media only screen and (max-width: 768px) {
  .container {
    padding: 0 10px;
  }

  .nav-links {
    display: none;
  }

  .menu-icon {
    display: block;
  }


  #menu-toggle {
    display: none;
  }

  #menu-toggle:checked ~ .nav-links {
    display: block;
  }
}

